html
    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    body(style="background: #CCCCCC")
        div(class="row")
            div(class="col-lg-8 offset-lg-2")
                div(class="card-deck")
                    div(class="card text-center" style="border: 2px solid #000000")
                        a(href="/maps") 
                            img(src="/public/images/maps/haven.jpg" class="card-img-top" alt="")
                    div(class="card text-center" style="border: 2px solid #000000")
                        a(href="/agents") 
                            img(src="/public/images/agents/omen.png" class="card-img-top" alt="omen full body")
                    div(class="card text-center" style="border: 2px solid #000000")
                        a(href="/weapons") 
                            img(src="/public/images/weapons/operator.png" class="card-img-top" alt="operator")
                div(class="row")
                    a(type="button" class="btn btn-outline-success col-12 mt-3" href="/randomgame") Randomize your game!
